.mars-image {
    background-image: url(../../images/mars_background.jpg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-color: #000;
    background-size: cover;
    height: auto;
    width: 100%;
}

.wrapper {
    min-height: 100vh;
    position: relative;
}

.wrapper-index {
    height: 100%;
}

.container {
    width: 1200px;
    height: 85%;
    margin: 0 auto;
    padding: 0 20px;
}

.center {
    width: 54%;
}

@media (min-width: 1220px) {

    .screen_comp {
        width: 1220px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    .splash_text {
        display: flex;
        align-items: center;
        margin: 306px 0px;
    }

    .menu .logo img {
        height: 70px;
    }
}

@media (max-width: 1220px) {

    .container {
        width: 100%;
    }

    .center .title {
        font-size: 38px;
    }

    .center {
        width: 100%;
        max-width: 600px;
        margin-left: 10px 0px;
    }


    .block {
        visibility: hidden;
        display: none;
    }

    .screen_comp {
        width: 100%
    }

    .splash_text {
        display: flex;
        align-items: center;
        margin: 150px 10px;
    }
}



.center .title {
    color: #030303;
    font-size: 40px;
    font-weight: bold;
}

.center .sub_des {
    color: rgb(255, 255, 255);
    font-size: 13px;
    margin: 11px 40px 35px 0;
}

.center .btns button {
    padding: 19px;
    border-radius: 50px;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 25px;
    font-weight: 500;
    padding: 3px 18px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    border: 3px solid var(--orange);
    color: #ffffff;
    background: transparent;
    display: flex;
}

.center .btns button:hover {
    background-image: var(--gradient);
    color: #000000;
}

.link-btn {
    margin-top: 20px;
    height: 40px;
    border-radius: 50px;
    font-weight: 500;
    padding: 5px 20px;
    cursor: pointer;
    border: 3px solid var(--orange);
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.link-btn:hover {
    background-image: var(--gradient);
}

.link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    margin-top: 20px;
    flex-wrap: wrap;
}

.link-card {
    margin: 10px 10px;
    padding: 10px;
    max-width: 500px;
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.link-card p {
    font-family: rg;
    font-size: 1.2em;
}

.link-card h1 {
    font-size: 24px;
}

.contact {
    background-color: var(--gray);
    padding-top: 20px;
    margin-top: -5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}

.contact h1 {
    color: white;
    font-weight: normal;
    padding: 20px;
}

svg#visual2 {
    pointer-events: none;
}

.review-grid-container {
    display: flex;
    grid-gap: 25px;
    padding-bottom: 20px;
    margin: 0 20px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row;
}


.review {
    border-radius: 10px;
    padding: 10px;
    background-color: var(--mid-gray);
    color: white;
    font-weight: normal;
    width: 375px;
}

.review:hover {
    transform: translateY(-5px);
    transition: 0.5s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.219);
}

.review img {
    width: 150px;
}

.review i {
    color: var(--X-light-gray);
    position: relative;
    margin-left: 90%;
}

.review a {
    width: 100%;
    display: block;
    left: 0;
}

.review h4 {
    color: var(--orange);
    font-weight: normal;
}

.info-prices {
    border-radius: 10px;
    background-color: var(--mid-gray);
    color: white;
    font-weight: normal;
    list-style: none;
    text-align: left;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.info-prices ul {
    padding-bottom: 20px;
    font-size: 20px;
}

.info-prices li {
    font-family: rg;
    font-size: 1.2em;
}

.info-players {
    border-radius: 10px;
    background-color: var(--mid-gray);
    color: white;
    font-weight: normal;
    list-style: none;
    text-align: left;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.info-players ul {
    font-size: 20px;
    margin-bottom: 20px;
}

.info-players li {
    font-family: rg;
    font-size: 1.2em;
}

.info-location {
    border-radius: 10px;
    background-color: var(--mid-gray);
    color: white;
    font-weight: normal;
    list-style: none;
    text-align: left;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.info-location ul {
    font-size: 20px;
    margin-bottom: 20px;
}

.info-location li {
    font-family: rg;
    font-size: 1.2em;
}


.info-grid-container {
    /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
    padding-top: 20px;
    display: flex;
    grid-gap: 10px;
    padding-bottom: 20px;
    background-color: var(--mid-gray);
    border-radius: 10px;
    margin: 0 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.info {
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-weight: normal;
    width: 300px;
}

.stats {
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 40px 0px;
}

.stats_card {
    border-radius: 15px;
    margin: 10px 10px;
    padding: 10px;
    max-width: 500px;
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.stats_card h1 {
    font-size: 24px;
    position: absolute;
}

.stats_card p {
    font-family: rg;
    font-size: 1.2em;
}

.number {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2em;
    color: var(--orange);
    position: relative;
    margin-top: 40px;
}

.number p {
    margin-left: 10px;
    font-family: 'Mc';
    font-size: 30px;
}

.link-btn {
    margin-top: 20px;
    height: 40px;
    border-radius: 50px;
    font-weight: 500;
    padding: 5px 20px;
    cursor: pointer;
    border: 3px solid var(--orange);
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.link-btn:hover {
    background-image: var(--gradient);
}

.link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    margin-top: 20px;
    flex-wrap: wrap;
}

.link-card {
    margin: 10px 10px;
    padding: 10px;
    max-width: 500px;
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.link-card p {
    font-family: rg;
    font-size: 1.2em;
}

.link-card h1 {
    font-size: 24px;
}

@keyframes bg {
    0% {
        background-size: 0 3px, 3px 0, 0 3px, 3px 0;
    }

    50% {
        background-size: 100% 3px, 3px 0, 100% 3px, 3px 0;
    }

    100% {
        background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
    }
}


.link-card:hover {
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, #ffc04a, #ff3300), linear-gradient(to bottom, #ff3300, #ffc04a), linear-gradient(to right, #ff3300, #ffc04a), linear-gradient(to bottom, #ffc04a, #ff3300);
    background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    animation-play-state: running;
    animation: bg 1.25s cubic-bezier(0.19, 1, 0.22, 1) 1;
}

@property --p {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

.pie {
    --p: 20;
    --b: 22px;
    --c: var(--orange);
    --w: 150px;
    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    justify-items: center;
}

.pie:before,
.pie:after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.pie:before {
    inset: 0;
    background: radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat, conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
    mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}

.pie:after {
    inset: calc(50% - var(--b)/2);
    background: var(--c);
    transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}

.animate {
    animation: p 1s .5s both;
}

.no-round:before {
    background-size: 0 0,auto;
}

.no-round:after {
    content: none;
}

@keyframes p {
    from {
        --p: 0
    }
}


.stats-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
    align-items: stretch;
}

.stats-container .stats-item {
    padding: 10px;
    background: var(--gray);
    border-radius: 15px;
    margin: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    min-width: 300px;
}

.stats-container .stats-item a {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    width: 100%;
}

.stats-container .stats-item:hover {
    padding: 10px;
    background: var(--gray);
    border-radius: 15px;
    margin: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    min-width: 300px;
    transform: translateY(-5px);
    transition: 0.5s;
    box-shadow: var(--shadow)
}

.stats-container .stats-item h3 {
    font-size: 24px;
    color: white;
    padding-bottom: 10px;
}

.stats-container .stats-item h4 {
    color: var(--XX-light-gray);
}

.stats-container .stats-item p {
    color: var(--XX-light-gray);
    font-size: 8px;
}

.stats-item .dropdown {
    position: relative;
    display: inline-block;
    border-radius: 15px;
    margin: 20px 0px;
}

.stats-item .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--gray);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    z-index: 4;
    border-radius: 15px;
    margin-left: -40px;
}

    .stats-item .dropdown-content a {
        color: rgb(255, 255, 255);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border-radius: 15px;
    }

        .stats-item .dropdown-content a:hover {
            background-color: var(--mid-gray)
        }

.stats-item .dropdown:hover .dropdown-content {
    display: block;
}

.stats-item .dropdown:hover .dropbtn {
    background-image: var(--gradient);
}

.stats-item .dropbtn {
    background-color: var(--dark-gray);
    color: var(--orange);
    padding: 4px;
    font-size: 16px;
    min-width: 120px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    border: 3px solid var(--orange);
    color: #ffffff;
    background: transparent;
    border-radius: 50px;
}

#map {
    height: 600px;
    border-radius: 15px;
    margin-top: 20px;
}

.map {
    text-align: center;
    color: white;
    padding: 20px 20px;
    background-color: var(--gray);
    margin-top: -10px;
}


#route-card {
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

#route-card-header {
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 10px;
}

#route-card-content {
    font-family: Arial, sans-serif;
}

    #route-card-content div {
        margin-bottom: 10px;
    }