.personSelector {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
}

.personSelector h2 {
    color: #fff;
    margin: 10px 0;
}

.personSelector h4 {
    color: #fff;
    margin: 10px 0;
    font-weight: normal;
}

    .personSelector .cardBx {
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: auto;
        align-content: center;
    }

