@{
    ViewData["Title"] = "Contact form Page";
}
@* @model FormViewModel *@

<link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />
<script defer src="~/js/ContactForm.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6LcUPHgpAAAAAH41iAD2fYHlWRzzLM4IDDkk1Dy3"></script>

<div class="body">
    <div class="page">
       
        <section class="form-contactpagin">
            <form method="post" class="form-contactpagina__form" id="form">
            <h3>Contact Henk Hammer</h3>
            <div class="form-contactpagina__inputelement fx-col">
                <label for="name">Voor naam: </label>
                    <input class="input" type="text" name="FirstName" id="firstName" required>
            </div>
            <div class="form-contactpagina__inputelement fx-col">
                <label for="name">Achter naam: </label>
                    <input class="input" type="text" name="LastName" id="lastName" required>
            </div>

            <div class="form-contactpagina__inputelement fx-col">
                <label for="email">Email: </label>
                    <input class="input" type="email" name="Email" id="email" required>
            </div>
                <div class="form-contactpagina__inputelement fx-col form-contactpagina__tel">
                <label for="phone">Telefoon nummer: </label>
                 <input class="input" type="tel" name="PhoneNumber" id="phone" required>
            </div>
            <div class="form-contactpagina__inputelement fx-col">
                <div class="form-contactpagina__inputelement__textarea">
                    <label for="text">Bericht </label>
                    <textarea rows="10" cols="30"  type="text" name="Message" id="message" required></textarea>
                </div>
            </div>
            <p class="error_message" id="form_error"> </p>
            <div class="form-contactpagina__buttons">
                <button class="btn" type="reset">Reset Form</button>
                <input class="btn btn--disabled" id="formSubmitBtn" type="submit" value="Verstuur!" disabled>
            </div>
        </form>
        </section>
    <section class="form-contactpagina_notify">
    <div class="formSubmit" id="formSuccess">
        <div class="formSubmitSuccess_indicator"></div>
        <h5>The form has been send!</h5>
        <p>We will contact you as soon as posible.<p>
    </div>
    <div class="formSubmit" id="formError">
        <div class="formSubmitError_indicator"></div>
        <h5>The form has not been send.</h5>
            <p id="formSubmit_error">Try again later.<p>
    </div>
    </section>
</div>
</div>
<script>
    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
        initialCountry: "nl",
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
</script>