@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact Page";
}
<link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />
<div class="body">
    <div class="page">
        <section class="profile">
            <div class="profile-card profile-card__playing">
                <div class="profile-card-wave"></div>
                <div class="profile-card-wave"></div>
                <div class="profile-card-wave"></div>


                <div class="profile-card-info">
                    <img class="profile-card-info-photo" src="~/images/Portret.jpg">
                    Henk Hammer
                    <br>
                    <div class="profile-card-info-name">HBO ICT</div>
                    <a href="/contact/form" class="profile-card-info-contact"><i class="fa-solid fa-arrow-up-right-from-square"></i>Contact</a>
                </div>
            </div>
        </section>

        <section class="profile-programming-language">
            <div class="profile-programming-language_image hoverTarget" data-title="HTML5"  data-text="My experience with HTML is extensive. I have contributed to multiple websites, including the development of this site." data-stars="4">
                <i class="devicon-html5-plain"></i>
            </div>
            <div class="profile-programming-language_image hoverTarget" data-title="CSS3" data-text="My experience with CSS is well-developed. I have applied it in various projects." data-stars="4">
                <i class="devicon-css3-plain"></i>
            </div>
            <div class="profile-programming-language_image hoverTarget" data-title="JavaScript" data-text="JavaScript is relatively new to me, but I regularly use it and continue to learn about its many possibilities." data-stars="2">
                <i class="devicon-javascript-plain"></i>
            </div>
            <div class="profile-programming-language_image hoverTarget" data-title="C++" data-text="I have primarily used C++ for programming microcontrollers or IoT devices." data-stars="2">
                <i class="devicon-cplusplus-plain"></i>
            </div>
            <div class="profile-programming-language_image hoverTarget" data-title="C#" data-text="I have completed several projects for clients and at school using C#." data-stars="3">
                <i class="devicon-csharp-plain"></i>
            </div>
            <div class="profile-programming-language_image hoverTarget" data-title="PHP" data-text="PHP was one of the first programming languages I learned. While its usage has declined, I have worked extensively with it." data-stars="3">
                <i class="devicon-php-plain"></i>
            </div>
            <div class="profile-programming-language_image hoverTarget" data-title="python" data-text="I have mainly used Python as a scripting language for creating useful tools or temporary solutions. I also use it for automating tasks." data-stars="2">
                <i class="devicon-python-plain"></i>
            </div>
        </section>
        <div id="hiddenDiv" class="profile-programming-language_information">
            <h3>Over mij</h3>
            <div class="profile-programming-language_information_rating" id="star-rating">
                <i id="star-rating" class="fa-solid fa-diamond master_star fa-xl"></i><i id="star-rating" class="fa-solid fa-diamond master_star fa-xl"></i><i id="star-rating" class="fa-solid fa-diamond master_star fa-xl"></i><i id="star-rating" class="fa-solid fa-diamond master_star fa-xl"></i><i id="star-rating" class="fa-solid fa-diamond master_star fa-xl"></i>
            </div>
            <p>I am an enthusiastic aspiring programmer with experience in various fields of ICT.</p>
        </div>

        <section class="timeline">
            <div class="timeline-area">
                <div class="container">
                    <div class="all-timelines">
                        <!--SINGLE TIMELINE-->
                        <div class="single-timeline d-flex-2">
                            <div class="timeline-blank"></div>
                            <div class="timeline-text d-flex-2">
                                <span>
                                    <h6>Q2 2017</h6> — Started studies at Pieter Zandt
                                </span>
                                <div class="t-square"></div>
                            </div>
                        </div>
                        <!--SINGLE TIMELINE-->
                        <div class="single-timeline d-flex-2">
                            <div class="timeline-blank"></div>
                            <div class="timeline-text d-flex-2">
                                <span>
                                    <h6>Q3 2022</h6> — Obtained HAVO diploma (NT & NG) and started HBO ICT
                                </span>
                                <div class="t-square"></div>
                            </div>
                        </div>
                        <!--SINGLE TIMELINE-->
                        <div class="single-timeline d-flex-2">
                            <div class="timeline-blank"></div>
                            <div class="timeline-text d-flex-2">
                                <span>
                                    <h6>Q1 2023</h6> — Completed semester 1 of HBO ICT (Web app)
                                </span>
                                <div class="t-square"></div>
                            </div>
                        </div>
                        <!--SINGLE TIMELINE-->
                        <div class="single-timeline d-flex-2">
                            <div class="timeline-blank"></div>
                            <div class="timeline-text d-flex-2">
                                <span>
                                    <h6>Q3 2023</h6> — Completed semester 2 of HBO ICT (ESA & SE) & received propaedeutic diploma
                                </span>
                                <div class="t-square"></div>
                            </div>
                        </div>
                        <!--SINGLE TIMELINE-->
                        <div class="single-timeline d-flex-2">
                            <div class="timeline-blank"></div>
                            <div class="timeline-text d-flex-2">
                                <span>
                                    <h6>Q1 2024</h6> — Completed semester 3 of HBO ICT (OOSDD)
                                </span>
                                <div class="t-square"></div>
                            </div>
                        </div>
                        <!--SINGLE TIMELINE-->
                        <div class="single-timeline d-flex-2">
                            <div class="timeline-blank"></div>
                            <div class="timeline-text d-flex-2">
                                <span>
                                    <h6>Present</h6> — Semester 4 of HBO ICT (Web Development)
                                </span>
                                <div class="t-square"></div>
                            </div>
                        </div>
                        <!--SINGLE TIMELINE-->
                        @* div class="single-timeline d-flex-2">
                            <div class="timeline-blank"></div>
                            <div class="timeline-text d-flex-2">
                                <span>
                                    <h6>Q1 2021</h6> — Alef B goes live (more details coming soon)
                                </span>
                                <div class="t-square"></div>
                            </div>
                        </div> *@
                    </div>
                </div>
             </div>
        </section>

       <section class="profile-content">
           <div class="profile-content-card">
               <i class="fa-solid fa-user fa-2xl"></i>
               <div class="profile-content-card-title">Profiel</div>
               <div class="profile-content-card-content">
                    <p class="profile-content-card-title">
                        Leeftijd
                    </p><p class="profile-content-card-description">19 jaar</p>
                    <p class="profile-content-card-title">
                        Woonplaats
                    </p><p class="profile-content-card-description">Genemuiden</p>
               </div>
           </div>
           <div class="profile-content-card">
               <i class="fa-solid fa-school fa-2xl"></i>
               <div class="profile-content-card-title">Opeilding</div>
               <div class="profile-content-card-content">
                   <p class="profile-content-card-title">
                       HBO ICT
                   </p><p class="profile-content-card-description">sep 2022 - heden</p>
                   <p class="profile-content-card-title">
                       Pieter Zandt
                    </p><p class="profile-content-card-description">sep 2017 - jul 2022</p>
               </div>
           </div>
            <div class="profile-content-card">
                <i class="fa-solid fa-briefcase fa-2xl"></i>
                <div class="profile-content-card-title">Werk</div>
                <div class="profile-content-card-content">
                    <p class="profile-content-card-title">
                        Zelfstandig
                    </p><p class="profile-content-card-description">Regestratie software, websites, microcontrollers, node-red en games</p>
                </div>
            </div>
            <div class="profile-content-card" href="/contact/form">
                <i class="fa-solid fa-phone fa-2xl"></i>
                <div class="profile-content-card-title">Contact</div>
                <div class="profile-content-card-content">
                    <p class="profile-content-card-title">
                        Tel
                    </p><p class="profile-content-card-description">06-21424272</p>
                    <p class="profile-content-card-title">
                        Mail
                    </p><p class="profile-content-card-description">thox.info@gmail.com</p>
                </div>           
            </div>
       </section>
    </div>
</div>