@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />
<h1>Manage your account</h1>

<div class="auth_container">
    <div class="auth_card">
        <h2>Change your account settings</h2>
        <hr />
        @RenderBody()
        <partial name="_ManageNav" />
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
