@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    if (User.IsInRole("Admin"))
    {
        ViewData["Title"] = "Admin Panel";
    }
    else if (User.IsInRole("Moderator"))
    {
        ViewData["Title"] = "Moderator Panel";
    }
}

<div class="page">
    <div class="page_text">
        @if (User.IsInRole("Admin"))
        {
            <h2>Admin Panel</h2>
        }
        else if (User.IsInRole("Moderator"))
        {
            <h2>Moderator Panel</h2>
        }
    </div>
    <div class="page_container">
        <div class="page_card">
            <h3>Reservations</h3>
            <p>View and manage reservations</p>
            <a href="/AdminPanel/Reservations" class="btn">Go to Reservations</a>
        </div>
        <div class="page_card">
            <h3>Users</h3>
            <p>View and manage users</p>
            <a href="/AdminPanel/Users" class="btn">Go to Users</a>
        </div>
    </div>
</div>
