@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Users";
    @model UserModelList
}
<link rel="stylesheet" href="~/css/adminPanel.css" asp-append-version="true" />
<div class="page">
    <div class="page_text">
        <h2>Users</h2>
    </div>
    <div class="page_container">
        <div class="page_card">
            <h3>View Users</h3>
            <p>View and manage users</p>

            <div class="user_container">
            @foreach (var user in Model.UserModels)
            {
                <div class="user_card">
                    <p class="user_role">@user.Role</p>
                    <p class="user_name">@user.UserName</p>
                </div>
            }
            </div>
        </div>
    </div>
</div>
