
.calendar_item .calendar_nav_icons{
    display: flex;
    justify-content: space-between;
  }
  
  .calander_container {
      display: flex;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      align-items: stretch;
      align-content: center;
      flex-wrap: wrap;
      width: 100%;
  }
  
  .calendar_item .calendar_nav_icons #next{
  margin-right : 10px;
  }
  
  .calendar_item .calendar_nav_icons #prev{
  margin-left : 10px;
  }
  
  .calendar_item .calendar_nav_icons span{
      height: 38px;
      width: 38px;
      margin: 0 1px;
      cursor: pointer;
      color: var(--orange);
      text-align: center;
      line-height: 38px;
      font-size: 1.9rem;
      user-select: none;
      border-radius: 50%;
      position: relative;
    }
  
  .calendar_nav_icons span:last-child{
    margin-right: -10px;
  }
  .calendar_item .calendar_nav_icons span:hover{
    background: var(--mid-gray);
  }
  .calendar_item .current-date{
    font-size: 1.45rem;
    font-weight: 500;
    color : var(--white);
  }
.calendar_item {
    padding: 20px;
    background-color: var(--gray);
    align-items: center;
    margin: 0px 20px;
    border-radius: 10px;
    max-width: 1000px;
    width: 100%;
}
  .calendar_item ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
  }
  .calendar_item .days{
        margin: 20px 0px;
  }
  .calendar_item li{
    color: white;
    width: calc(100% / 7);
    font-size: 1.07rem;
  }
  .calendar_item .weeks li{
    font-weight: 500;
    cursor: default;
    font-weight: bold;
  }
  .calendar_item .days li{
    z-index: 1;
    /* cursor: pointer; */
    position: relative;
    height: 70px
  }

.days li a {
    text-decoration: none;
    display: inline-block;
    width: 100%; /* Adjust the size of the circle */
    height: 100%; /* Adjust the size of the circle */
    border-radius: 50%; /* Make it a circle */
    text-align: center;
    border: none;
    color: white;
    font-size: 1.2rem;
    background-color: transparent;
    cursor: pointer;
}
  
  .days li.inactive a{
    color: #686868;
  }
  .days li.active a{
    color: #fff;
  }

.days li.disabled a {
    color: #686868;
    width: 100%;
    height: 100%;
}

.days li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 50px;
    width: 90%;
    z-index: -1;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background: var(--mid-gray);
}
  
  .days li:hover::before{
    background: var(--light-gray);
  }

.date-icon {
    display: flex;
    background-color : var(--gray);
    border-radius: 50%;
    padding: 5px;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 18px;
    top: 0;
    right: 0;
}

.date-icon-closed {
    color: var(--red);
}

.date-icon-open {
    color: var(--green);
    z-index: 1;
}

.calander_time_selector {
    padding: 20px;
    background-color: var(--gray);
    align-items: center;
    margin: 20px 20px;
    border-radius: 10px;
    color: white;
    max-width: 1000px;
    display: none;
}

.calander_time_selector .calander_timeslot_container {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}

        .calander_time_selector .calander_timeslot_container .time_slot {
            background-color: var(--mid-gray);
            padding: 10px;
            text-align: center;
            border-radius: 10px;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            max-width: 300px;
            width: 100%;
        }
  
/*    .time_selector .calander_timeslot_container .time_slot .time_button{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: inherit;
      color: white;
      text-decoration: none;
      padding-top : 10px;
      cursor: pointer;
    }*/

    .calander_time_selector .calander_timeslot_container .disabled {
        color: var(--red);
        text-decoration: none;
        cursor: auto;
    }

    .calander_time_selector .no_data {
        color: var(--red);
        text-align: center;
        padding-top: 20px;
    }

    .calander_time_selector .no_data_text {
        color: var(--red);
        text-align: center;
        padding-top: 10px;
        font-size: 12px;
    }


@media screen and (max-width: 500px) {
    .days li a {
        font-size: 0.9rem;
        line-height: 50px
    }

    .days li::before {
        border-radius: 0px;
        width: 100%;
        background-color: var(--gray);
        border: 1px solid var(--mid-gray);
    }

    .calendar_item .days li {
        z-index: 1;
        /* cursor: pointer; */
        position: relative;
        height: 50px
    }

    .calendar_item li {
        color: white;
        width: calc(100% / 7);
        font-size: 1.07rem;
    }


    .date-icon {
        padding: 3px;
        font-size: 12px;
    }

    .days li.selected:before {
        background-color: var(--light-gray);
    }

}
@media screen and (min-width: 500px) {
    .days li a {
        line-height: 70px
    }

    .days li.disabled:hover::before {
        border: dashed;
        border-color: var(--red);
    }

    .days li.selected:before {
        border: solid;
        border-color: var(--orange);
    }

    .days li.active:not(.selected):before {
        border: solid;
        border-color: var(--light-gray);
    }
}