@model Thox.Models.RoomPrice

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>


<div class="admin_container">
    <div class="admin_card">
        <h4>RoomPrice</h4>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GroupSize" class="control-label"></label>
                <input asp-for="GroupSize" class="form-control" />
                <span asp-validation-for="GroupSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomID" class="control-label"></label>
                @* asp-items="ViewBag.RoomID" *@
                <select asp-for="RoomID" class ="form-control" >
                    @foreach (var item in Enum.GetValues(typeof(Thox.Models.RoomName)))
                    {
                        <option value="@((int)item + 1)">@(item)</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
