@page
@model Thox.Areas.Admin.Views.Home.IndexModel
@{

}


<h1>Admin dashboard</h1>

<div class="admin_container">
    <div class="admin_card">
        <h4>Rooms</h4>
        <hr />
        <p>
            <a asp-controller="Rooms">View Rooms</a>
        </p>
        <h4>Room Prices</h4>
        <hr />
        <p>
            <a asp-controller="RoomPrices">View Room Prices</a>
        </p>
    </div>
</div>