@{
    ViewData["Title"] = "Aantal personen";
}
@model Thox.Models.ViewModels.Reservation.PersonCardModelList
<!DOCTYPE html>
<html lang="en">
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.9/signalr.min.js"></script>
<link rel="stylesheet" href="~/css/reservation.css" asp-append-version="true" />
<body>
    <div class="page">
        <div class="page_text">
            <h2> Aantal personen </h2>
            <h4> Selecteer het aantal personen waarmee u wilt escapen.</h4>
        </div>
        <div class="personcard_container">
                @foreach (var personCardModel in Model.personCardModelList)
                {
                    <div>
                    <a class="link" href="/reservation/dateselection?personCount=@personCardModel.PersonCount">
                            <div class="card">
                                <div class="cardtitle">@personCardModel.Title</div>
                                <img class="image" src="../@personCardModel.Image">
                                <div class="content">
                                <h4 class="personCount">@personCardModel.Title</h4>
                                    <div class="progress-line"><span class="progress-line__bar" style="width:@personCardModel.SuccessPercentage%"></span></div>
                                    <p class="line-text">@personCardModel.SuccessPercentage % haalt de room.</p>
                                    <div class="info">
                                        <p>
                                            Prijs<br>
                                         <span class="price">€ @personCardModel.Price.-</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
        </div>
</body>
</html>
